* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: $base_font-size;
}

h1 {
	font-weight: 300;
	margin-bottom: $space;
}

h2 {
	font-size: $large_font-size;
	margin-bottom: $space;
}

p {
	margin-bottom: $space;
}

a {
	color: black;
}

input[type=text], input[type=email], input[type=password] {
	border: $border_size $border_style $input_border-color;
	font-size: $base_font-size;
	margin-bottom: $space;
	padding: $input_spacing;
}