.button {
	background-color: $button_bg;
	border: none;
	color: $button_color;
	cursor: pointer;
	font-size: $base_font-size;
	line-height: 1.2;
	margin-bottom: $space;
	padding: $button_spacing;
	text-transform: uppercase;

	&.link {
		display: inline-block;
		text-decoration: none;
	}

	&.pill {
		background-color: transparent;
		border: $border_size $border_style $button-pill_color;
		color: $button-pill_color;
		margin: 0 $button-pill_right-margin 0 0;
		padding: 0.3rem 0.8rem;
	}

	&.secondary {
		background: $button-secondary_bg;
		border: $border_size $border_style $button-secondary_border-color;
		color: $button-secondary_color;
	}

	&.link-text {
		background: none;
		margin: 0;
		padding: 0;
		text-decoration: underline;
		text-transform: none;
	}
}